<!DOCTYPE html>
<html lang="{{  page.language }}">
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/img/favicon/manifest.json">
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/vendor/html5shiv.js" async defer></script>
    <script src="/static/js/vendor/respond.js" async defer></script>
    <![endif]-->
    <title>{{ page.title }} - MEL Science Blog</title>

    <style>
        h2 {
            margin-top: 50px;
        }
    </style>
</head>

<body>
<div class="content">
    {% assign localization_filename = "localization_" | append:page.language %}
    {% assign loc = site.data[localization_filename] %}
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MEL Science</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://melscience.com">Chemestry</a></li>
                    <li><a href="http://practicum.melscience.com">Practicum</a></li>
                    <li class="active"><span>{{ loc.blog }}</span></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://melscience.com/about/">{{ loc.about }}</a></li>
                    <li data-toggle="nav" data-target="#user-lang" class="user-dropdown-toggle">
                        <a href="#" onclick="return false;">{{ page.language }}<span class="fa"></span></a>

                        <div class="user-dropdown user-dropdown-lang slide" id="user-lang">
                            <ul class="nav">
                                {% assign other_language_abouts = (site.pages | sort: 'language' | where: "layout" , "about") %}
                                {% for about in other_language_abouts %}
                                {% assign about_localization_filename = "localization_" | append:about.language %}
                                {% assign about_loc = site.data[about_localization_filename] %}
                                {% assign en_loc = site.data["localization_en"] %}
                                <li><a href="{{ about.url }}">{{ en_loc.language-name[about.language] }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.navbar -->

    <div class="container">

        <div class="row">

            <div class="col-sm-8 blog-main">
                {{ content }}
            </div>
            <!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>{{ loc.about }}</h4>

                    <p>{{ loc.about-text }}</p>
                </div>
                {% include follow-us.html %}
            </div>
            <!-- /.blog-sidebar -->

        </div>
        <!-- /.row -->
    </div>
</div>
<!--/.container-->
<footer>
    <div class="footer-copyright">
        <p>&copy; MEL Science 2015</p>
    </div>
</footer>
<div style="position: absolute; left: -1000px; top: -100px;">
{% include bottom.html %}
</div>
</body>
</html>