{% include top.html %}
    <title>{{ page.title }} - MEL Science Blog</title>

<style>
h2 {margin-top: 50px;}
</style>
  </head>

  <body>
{% include top-navigation.html %}
    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

<br><br>
  {{ content }}

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>{{ loc.about }}</h4>
            <p>{{ loc.about-text }}</p>
          </div>

          <div class="sidebar-module sidebar-module-inset">
            <h4>{{ loc.other-languages }}</h4>
            <ul>
{% assign other_language_abouts = (site.pages | sort: 'language' | where: "layout" , "about") %}
{% for about in other_language_abouts %}
{% assign about_localization_filename = "localization_" | append:about.language %}
{% assign about_loc = site.data[about_localization_filename] %}
{% assign en_loc = site.data["localization_en"] %}
<li><a href="{{ about.url }}">{{ en_loc.language-name[about.language] }} ({{ about_loc.language-name[about.language] }})</a></li>
{% endfor %}          
            </ul>
          </div>
{% include follow-us.html %}
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

{% include bottom.html %}