{% include top.html %}
    <title>MEL Science Blog</title>
{% assign index_pages = (site.pages | where: "type" , "blog-index") %}
{% for index_page in index_pages %}
  <link rel="alternate" hreflang="{{index_page.language}}" href="{{index_page.url}}" />
{% endfor %}
  </head>

  <body>
{% include top-navigation.html %}
    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">
{% assign posts = (site.pages | sort: 'url' | where: "language" , page.language | where: "type" , "blog-post") %}
{% for post in posts reversed %}

<div class="blog-post">
<h2 class="blog-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
<p class="blog-post-meta">
{% assign post_date_array = post.url | split: "/" | last | split: "-" %}
{% include date-localization.html %},
{{ post.author }}</p>
<p>
{{ post.post-image }}
</p>
{{ post.content | split:"<!-- more -->" | first }}
<hr>
</div><!-- /.blog-post -->

{% endfor %}

  {{ content }}

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>{{ loc.about }}</h4>
            <p>{{ loc.about-text }}</p>
          </div>
          <div class="sidebar-module sidebar-module-inset">
            <h4>{{ loc.other-languages }}</h4>
            <ul>
{% assign other_language_posts = (site.pages | sort: 'language' | where: "type" , "blog-index") %}
{% for post in other_language_posts %}
{% assign post_localization_filename = "localization_" | append:post.language %}
{% assign post_loc = site.data[post_localization_filename] %}
{% assign en_loc = site.data["localization_en"] %}
<li><a href="{{ post.url }}">{{ en_loc.language-name[post.language] }} ({{ post_loc.language-name[post.language] }})</a></li>
{% endfor %}          
            </ul>
          </div>
{% include follow-us.html %}

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

{% include bottom.html %}