{% include top.html %}
    <title>MEL Science Blog</title>
{% assign index_pages = (site.pages | where: "type" , "blog-index") %}
{% for index_page in index_pages %}
  <link rel="alternate" hreflang="{{index_page.language}}" href="{{index_page.url}}" />
{% endfor %}
  </head>

  <body>
{% include top-navigation.html %}
    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">
{% assign posts = (site.pages | sort: 'url' | where: "language" , page.language | where: "type" , "blog-post") %}
{% for post in posts reversed %}

<div class="blog-post">
<h2 class="blog-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
<p class="blog-post-meta">
{% assign post_date_array = post.url | split: "/" | last | split: "-" %}
{% include date-localization.html %}
by {{ post.author }}</p>
<p>
{{ post.post-image }}
</p>
{{ post.content | split:"<!-- more -->" | first }}
<hr>
</div><!-- /.blog-post -->

{% endfor %}

  {{ content }}

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>In MEL Science we want find ways how to pass knowledge about science in more compact way showing the very essence of the processes happening in nature.</p>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

{% include bottom.html %}