// Redefenition and fixes
.modal-content {
  border-radius: 0;
}
.navbar-fixed, .navbar-fixed-top, .navbar-fixed-bottom {
  -webkit-transform: translate3d(0,0,0);
}
select.input-lg {
  -webkit-appearance: none;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 5px;
}
.btn {
  > span {
    white-space: normal;
  }
}

.input-lg {
  border-radius: 5px;
}