//* Fonts
@font-face {
  font-family: "Brown";
  font-weight: 700;
  font-style: normal;
  src:url("../fonts/brown/lineto-brown-bold.eot");
  src:url("../fonts/brown/lineto-brown-bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/brown/lineto-brown-bold.woff") format("woff"),
  url("../fonts/brown/lineto-brown-bold.ttf") format("truetype"),
  url("../fonts/brown/lineto-brown-bold.svg#lineto-brown-bold") format("svg");
}


@font-face {
  font-family: "Brown";
  font-weight: normal;
  font-style: normal;
  src:url("../fonts/brown/lineto-brown-regular.eot");
  src:url("../fonts/brown/lineto-brown-regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/brown/lineto-brown-regular.woff") format("woff"),
  url("../fonts/brown/lineto-brown-regular.ttf") format("truetype"),
  url("../fonts/brown/lineto-brown-regular.svg#lineto-brown-regular") format("svg");
}

@font-face {
  font-family: "Brown";
  font-weight: 300;
  font-style: normal;
  src:url("../fonts/brown/lineto-brown-light.eot");
  src:url("../fonts/brown/lineto-brown-light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/brown/lineto-brown-light.woff") format("woff"),
  url("../fonts/brown/lineto-brown-light.ttf") format("truetype"),
  url("../fonts/brown/lineto-brown-light.svg#lineto-brown-light") format("svg");
}

@font-face {
  font-family: "Geometria";
  font-weight: 700;
  font-style: normal;
  src:url("../fonts/geometria/Geometria-Bold.eot");
  src:url("../fonts/geometria/Geometria-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/geometria/Geometria-Bold.woff") format("woff"),
  url("../fonts/geometria/Geometria-Bold.ttf") format("truetype"),
  url("../fonts/geometria/Geometria-Bold.svg#Geometria-Bold") format("svg");
}


@font-face {
  font-family: "Geometria";
  font-weight: normal;
  font-style: normal;
  src:url("../fonts/geometria/Geometria-Regular.eot");
  src:url("../fonts/geometria/Geometria-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/geometria/Geometria-Regular.woff") format("woff"),
  url("../fonts/geometria/Geometria-Regular.ttf") format("truetype"),
  url("../fonts/geometria/Geometria-Regular.svg#Geometria-Regular") format("svg");
}

@font-face {
  font-family: "Geometria";
  font-weight: 300;
  font-style: normal;
  src:url("../fonts/geometria/Geometria-Light.eot");
  src:url("../fonts/geometria/Geometria-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/geometria/Geometria-Light.woff") format("woff"),
  url("../fonts/geometria/Geometria-Light.ttf") format("truetype"),
  url("../fonts/geometria/Geometria-Light.svg#Geometria-Light") format("svg");
}