//* Header
.navbar-header {
  position: relative;
  z-index: 2;
}
.navbar-collapse {
  position: relative;
  z-index: 1;
}
//* Header dropdowns
.nav > li > span {
  position: relative;
  display: block;
  padding: $nav-link-padding;
}

.navbar-brand {
  padding: ($navbar-padding-vertical - 2px) $navbar-padding-horizontal ($navbar-padding-vertical + 2px);
}

.navbar-nav {
  > li > span {
    padding-top:    10px;
    padding-bottom: 10px;
    line-height: $line-height-computed;

    @media (min-width: $grid-float-breakpoint) {
      padding-top:    $navbar-padding-vertical;
      padding-bottom: $navbar-padding-vertical;
    }
  }
}

.navbar {
  margin-bottom: 0;

  .user-dropdown {
    position: absolute;
    top: $navbar-height;
    right: -25px;
    background-color: $navbar-default-link-active-bg;
    display: none;

    @media (max-width: $screen-xs-max) {
      position: relative;
      top: 0;
      right: 0;
      transition: none;
      display: block;
      max-height: none;
      background-color: transparent;
    }


    // Navigation bar form styling
    .user-dropdown-msg {
      text-align: center;
    }

    // Form styling
    form {
      width: 400px;
      padding: 15px 25px 10px;
      @media (max-width: $screen-xs-max) {
        width: auto;
        padding: $navbar-padding-vertical 0 0;
      }
    }

    .btn {
      display: block;
      width: 100%;
    }

    // Links defaulter
    .nav > li > a {
      background-color: transparent;
      color: $navbar-default-link-color;

      &:hover {
        color: $navbar-default-link-hover-color;
      }
    }

    // Toggle visible
    &.in {
      display: block;
    }

    // slide animation
    &.slide {
      max-height: 0;
      display: block;
      overflow: hidden;
      transition: max-height 0.2s ease-in;

      &.in {
        max-height: $navbar-collapse-max-height;
      }

      @media (max-width: $screen-xs-max) {
        max-height: none;

        &.in {
          max-height: none;
        }
      }
    }
  }

  .nav {
    a {
      font-weight: $navbar-font-weight;
      text-decoration: underline;
    }
  }

  .user-dropdown-toggle {
    > a {
      @media (max-width: $screen-xs-max) {
        display: none;
      }

      .fa {
        margin-left: 1ex;

        &:after {
          position: relative;
          top: -3px;
          content: $fa-var-sort-desc;
        }
      }
    }

    &.active {
      > a > .fa:after {
        position: relative;
        top: 3px;
        content: $fa-var-sort-asc;
      }
    }

    .user-dropdown {
      min-width: 100%;
      right: 0;
    }
  }

  .user-dropdown-langcap {
    display: none;

    @media (max-width: $screen-xs-max) {
      padding: $navbar-padding-vertical $navbar-padding-horizontal 0;
      display: block;
    }
  }

  .user-dropdown-lang {
    @media (max-width: $screen-xs-max) {
      > .nav {
        display: inline-block;
        > li {
          display: inline-block;
        }
      }
    }
  }
}


.navbar-default {
  .navbar-nav {
    > .active > span {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > span {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }
}

.navbar-liquid {
  @media (min-width: $screen-sm-min) {
    z-index: $zindex-navbar;
    position: absolute;
    top: 10px;

    background-color: transparent;
    border-color: transparent;
    width: 100%;

    .navbar-brand {
      color: $navbar-liquid-link-color;

      &:hover,
      &:focus {
        color: $navbar-liquid-link-hover-color;
        background-color: $navbar-liquid-link-hover-bg;
      }
    }


    .navbar-text {
      color: $navbar-liquid-link-color;
    }

    .navbar-nav {
      > li > a,
      > li > span {
        color: $navbar-liquid-link-color;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $navbar-liquid-link-hover-color;
          background-color: $navbar-liquid-link-hover-bg;
        }
      }

      > .active > a,
      > .active > span {
        &,
        &:hover,
        &:focus {
          color: $navbar-liquid-link-active-color;
          background-color: $navbar-liquid-link-active-bg;
        }
      }
      > .disabled > a,
      > .disabled > span {
        &,
        &:hover,
        &:focus {
          color: $navbar-inverse-link-disabled-color;
          background-color: $navbar-inverse-link-disabled-bg;
        }
      }

      > .active.user-dropdown-toggle {
        > a,
        > span {
          color: $navbar-default-link-active-color;
          background-color: #fff;
          border-radius: 5px 5px 0 0;
        }
      }
    }

    .user-dropdown {
      background-color: #fff;
    }
  }
}