//* Mixins

// Retina mixin
@mixin image-2x($image, $width:'auto', $height:'auto') {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    & {
      /* on retina, use image that's scaled by 2 */
      background-image: url($image);

      @if ($width != 'auto' and $height != 'auto') {
        background-size: $width $height;
      }
    }
  }
}

// Equal height grid
@mixin grid-list-equal-height($size: "md", $i: 1){
  $list: ".col-#{$size}-#{$i}";
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-#{$size}-#{$i}";
  }

  & > #{$list} {
    display: inline-block;
    vertical-align: top;
    margin-right: -0.5ex;
    min-height: 1px;
    float: none;
  }
}
@mixin make-grid-equal-height {
  @media (min-width: $screen-lg-min) {
    @include grid-list-equal-height('lg');
  }
  @media (min-width: $screen-md-min) {
    @include grid-list-equal-height('md');
  }
  @media (min-width: $screen-sm-min) {
    @include grid-list-equal-height('sm');
  }
  @media (min-width: $screen-xs-min) {
    @include grid-list-equal-height('xs');
  }
}

// Shadow buttons
@mixin button-shadow ($btn-border-color) {
  &.btn-shadow {
    position: relative;
    @include box-shadow(0px 3px 0px 0px  darken($btn-border-color, 5%));
    margin-bottom: 3px;

    &:hover,
    &:focus,
    &.focus,
    .open > &.dropdown-toggle {
      box-shadow: none;
      bottom: -3px;
    }

    &:active,
    &.active {
      @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &,
      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        box-shadow: 0px 3px 0px 0px  darken($btn-border-color, 5%);
      }
    }
  }
}