//* Typography

// Fonts fallback
html {
  body, .tooltip {
    font-family: $font-family-sans-serif;
  }

  &[lang="ru"] {
    body, .tooltip {
      font-family: $font-family-fallback;
    }
  }
}

// lists
ul, ol {
  padding-left: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;

  > span {
    word-wrap: normal;
  }
}